<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<% if current_user %>
			<h3>Hello, <%= current_user.first_name %></h3>
			<nav>
	          	<ul class="nav navbar-nav navbar-right">
	            	<li ><%= link_to "Dashboard",   songs_path %></li>
	            	<li ><%= link_to "My Page-Songs",   current_user %></li>
	            	<li ><form action='/sessions' method='post'>
					    	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					    	<input type='hidden' name='_method' value='delete'>
					    	<input type='submit' value='Log Out'>
					  	</form>
		  			</li>
	          	</ul>
	        </nav>
		<% end %>
	</div>
</header>
